:root {
  --arrow-alone-width: 180px;
}

img[src*="main-book"] {
  z-index: 5;

  width: calc(934px * 0.5);
  height: auto;
}

img[src*="bookmark"]:not(img[src="./assets/book/arrow-bookmark.svg"]) {
  width: calc(424px * 0.5);
  height: auto;
}

img[src="./assets/book/bookmark-yellow.png"] {
  z-index: 1;
}

img[src="./assets/book/pin.png"] {
  width: calc(444px * 0.5);
  height: auto;
}

img[src="./assets/book/arrow-alone.svg"] {
  width: var(--arrow-alone-width);
  height: auto;
}

img[src="./assets/book/arrow-bookmark.svg"] {
  width: 155px;
  height: auto;
}

img[src="./assets/book/arrow-pin.svg"] {
  width: 108px;
  height: auto;
}

@media (width <= 62.5rem) and (width > 31.25rem) {
  img[src*="main-book"] {
    width: calc(934px * 0.3);

    /* opacity: .2; */
  }
  
  img[src*="bookmark"]:not(img[src="./assets/book/arrow-bookmark.svg"]) {
    width: calc(424px * 0.3);
  }
  
  img[src="./assets/book/pin.png"] {
    width: calc(444px * 0.3);
  }
  
  img[src="./assets/book/arrow-alone.svg"] {
    width: calc(var(--arrow-alone-width) * .6);
  }
  
  img[src="./assets/book/arrow-bookmark.svg"] {
    width: calc(155px * .6);
  }
  
  img[src="./assets/book/arrow-pin.svg"] {
    width: calc(108px * .6);
  }
}

@media (width <= 31.25rem) {

  img[src*="main-book"] {
    width: calc(934px * 0.2);

    /* opacity: .2; */
  }
  
  img[src*="bookmark"]:not(img[src="./assets/book/arrow-bookmark.svg"]) {
    width: calc(424px * 0.2);
  }
  
  img[src="./assets/book/pin.png"] {
    width: calc(444px * 0.2);
  }
  
  img[src="./assets/book/arrow-alone.svg"] {
    width: calc(var(--arrow-alone-width) * .4);
  }
  
  img[src="./assets/book/arrow-bookmark.svg"] {
    width: calc(155px * .4);
  }
  
  img[src="./assets/book/arrow-pin.svg"] {
    width: calc(108px * .4);
  }
}