@media (width <= 37.5rem) {
  #main {

    & .hero {

      & .hero-title {
        gap: 1rem;
        padding-top: 3rem;
        padding-bottom: 12rem;

        & h1 {
          max-width: 80%;
          font-size: 1.75rem;
        }

        & p {
          max-width: 90%;
          font-size: .875rem;
        }
      }
    }

    & .sub-hero {
      max-width: 90%;

      & .sub-hero-text {
        font-size: 1rem;
        line-height: 140%;
      }

      & img[src*="crystal-ball"] {
        width: 2.5rem;
        transform: rotate(20deg);
        bottom: 10%;
        right: 8%;

        &:hover {
          transform: scale(1.1) rotate(30deg);
        }
      }
      
      & img[src*="spellbook"] {
        width: 2.5rem;
        transform: rotate(20deg);
        top: 3%;
        left: 60%;
      }

      & img[src*="ouija"] {
        width: 2rem;
        transform: rotate(-30deg);
        bottom: 12%;
        left: 8%;

        &:hover {
          transform: scale(1.1) rotate(-10deg);
        }
      }

      & .sub-hero-text {
        padding-block: 3rem;
        padding-inline: 0;
      }
    }
  }
}

@media (width >= 26rem) and (width <= 37.5rem) {
  #main {
    & .sub-hero {
      & img:nth-child(2) {
        bottom: 5%;
      }

      & img:nth-child(3) {
        bottom: 3%;
      }

      & .sub-hero-text {
        & span:nth-child(3) {
          display: inline-block;
        }
      }
    }
  }
}

@media (width >= 37.6rem) and (width <= 62.5rem) {
  #main {
    & > .hero {
      & > .hero-title {
        padding-block: 7rem 18rem;
        & > h1 {
          font-size: 2.5rem;
        }
        & > p {
          font-size: 1rem;
          max-width: 65%;
        }
      }
    }
    & > .sub-hero {
      margin-top: 3rem;

      & > img {
        width: 4rem !important;
      }

      & > .sub-hero-text {
        font-size: 1.5rem;
        line-height: 160%;
      }

    }
  }
}